.Container {
  .Navigation {
    display: flex;
    gap: 16px;
  }

  .FullCalendar {
    margin-top: 20px;
  }

  .FullCalendar :global(table[role="grid"].fc-scrollgrid) {
    border: none;
    border-top: 1px solid $neutral-200;
  }

  .FullCalendar :global(th[role="columnheader"]) {
    text-align: left;
    padding-left: 20px;
    height: 42px;
    border: none;
  }
  .FullCalendar :global(th[role="columnheader"] a) {
    font-weight: $font-bold;
    font-size: $text-caption;
    line-height: 42px;
    color: $neutral-500;
    text-transform: uppercase;
  }

  .FullCalendar :global(.fc-theme-standard td) {
    border: 1px solid $neutral-200;
  }

  .FullCalendar :global(td[role="gridcell"].fc-day-today) {
    background-color: $info-50;
  }

  .FullCalendar :global(td[role="gridcell"].fc-daygrid-day) {
    padding: 16px 24px;
  }

  .FullCalendar :global(td .fc-daygrid-day-top) {
    flex-direction: row;
  }

  .FullCalendar :global(.fc-daygrid-day-top a.fc-daygrid-day-number) {
    font-weight: $font-medium;
    font-size: $text-body1;
    line-height: 150%;
    color: $neutral-700;
  }

  .FullCalendar :global(a.fc-daygrid-event) {
    border-radius: 4px;
    padding: 2px 4px;
    padding-left: 10px;
    border: none;
  }

  .FullCalendar :global(a.fc-daygrid-event .fc-event-title) {
    font-weight: $font-medium;
    font-size: $text-body2;
    line-height: 150%;
    color: $neutral-700;
  }

  .FullCalendar :global(a.fc-daygrid-event::before) {
    content: " ";
    position: absolute;
    width: 2px;
    height: 21px;
    transform: translate(-6px, 1px);
    border-radius: 2px;
  }
  .FullCalendar :global(a.fc-daygrid-event.neutral) {
    background-color: $neutral-50;
  }
  .FullCalendar :global(a.fc-daygrid-event.neutral::before) {
    background-color: $neutral-700;
  }
  .FullCalendar :global(a.fc-daygrid-event.primary) {
    background-color: $primary-50;
  }
  .FullCalendar :global(a.fc-daygrid-event.primary::before) {
    background-color: $primary-700;
  }
  .FullCalendar :global(a.fc-daygrid-event.success) {
    background-color: $success-50;
  }
  .FullCalendar :global(a.fc-daygrid-event.success::before) {
    background-color: $success-700;
  }
  .FullCalendar :global(a.fc-daygrid-event.info) {
    background-color: $info-100;
  }
  .FullCalendar :global(a.fc-daygrid-event.info::before) {
    background-color: $info-700;
  }
  .FullCalendar :global(a.fc-daygrid-event.warning) {
    background-color: $warning-50;
  }
  .FullCalendar :global(a.fc-daygrid-event.warning::before) {
    background-color: $warning-700;
  }
  .FullCalendar :global(a.fc-daygrid-event.danger) {
    background-color: $danger-50;
  }
  .FullCalendar :global(a.fc-daygrid-event.danger::before) {
    background-color: $danger-700;
  }
}
