.Card:global(.MuiCard-root.MuiPaper-root) {
  padding: 16px 24px;
  display: flex;
  flex-direction: row;

  .Icon {
    width: 48px;
    height: 48px;
    background-color: $info-100;
    box-shadow: 0px 0px 0px 8px $info-50;
    border-radius: 50%;
    position: relative;
    margin-right: 24px;
  }
  .Icon svg {
    width: 24px;
    color: $info-600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Content {
    flex: 1;
  }
  .Label {
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 150%;
    color: $neutral-700;
    margin-bottom: 8px;
  }
  .Value {
    font-weight: $font-bold;
    font-size: 32px;
    line-height: 140%;
    color: $neutral-900;
  }
  .Progress_Value {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $success-600;
    font-weight: $font-medium;
  }
  .Progress_Value svg {
    transform: translateY(4px);
  }
  .Progress {
    font-weight: $font-medium;
    font-size: 14px;
    line-height: 150%;
    color: $neutral-500;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
