.Container {
  .ErrorCode {
    font-size: 240px;
    line-height: 110%;
    font-weight: bold;
    background: -webkit-linear-gradient(#2563eb, #60a5fa);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
