// ------------- Sidebar ------------
.Sidebar {
  width: 280px;
  height: 100vh;
  overflow: auto;
  padding: 12px 24px;
  border-right: 1px solid $neutral-200;
  transition: 0.5s ease-in-out;

  .Header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid $neutral-200;
    display: flex;
    align-items: center;
    gap: $space-2;
    justify-content: center;

    img {
      height: 40px;
    }
  }

  .TitleMenu {
    @include body2;
    font-weight: $font-bold;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .Menu {
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 12px 24px;
    transition: 0.25s;

    p:global(.MuiTypography-root) {
      text-decoration: none;
      margin-left: 12px;
      color: $neutral-500;
    }

    &.Active {
      background-color: $primary-400;
      p:global(.MuiTypography-root),
      svg {
        color: $primary-50;
      }
    }
  }

  &.Hide {
    width: 60px;
    padding: 12px 4px;

    .Header {
      opacity: 0;
      transition: 0.25s;
    }

    .TitleMenu {
      color: transparent;
      border-bottom: 2px solid $neutral-200;
      margin-bottom: 12px;
    }

    .Menu {
      padding: 12px;

      p:global(.MuiTypography-root) {
        transition: 0.25s;
        opacity: 0;
      }
    }
  }
}

// ------------- Content ------------
.Content {
  background-color: $neutral-100;
  flex: 1;
  height: 100vh;
  padding: 32px;
  padding-top: 40px;
  overflow: auto;
}
