$neutral-25: #f2f4f7;
$neutral-50: #f8fafc;
$neutral-100: #f1f5f9;
$neutral-200: #e2e8f0;
$neutral-300: #cbd5e1;
$neutral-400: #94a3b8;
$neutral-500: #64748b;
$neutral-600: #475569;
$neutral-700: #334155;
$neutral-800: #1e293b;
$neutral-900: #0f172a;

$primary-25: #f5f8ff;
$primary-50: #eff6ff;
$primary-100: #dbeafe;
$primary-200: #bfdbfe;
$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-700: #1d4ed8;
$primary-800: #1e40af;
$primary-900: #1e3a8a;

$success-25: #f6fef9;
$success-50: #ecfdf3;
$success-100: #d1fadf;
$success-200: #a6f4c5;
$success-300: #6ce9a6;
$success-400: #32d583;
$success-500: #12b76a;
$success-600: #039855;
$success-700: #027a48;
$success-800: #05603a;
$success-900: #054f31;

$info-25: #fafeff;
$info-50: #f0f9ff;
$info-100: #e0f2fe;
$info-200: #bae6fd;
$info-300: #7dd3fc;
$info-400: #38bdf8;
$info-500: #0ea5e9;
$info-600: #0284c7;
$info-700: #0369a1;
$info-800: #075985;
$info-900: #0c4a6e;

$warning-25: #fffcf5;
$warning-50: #fff7ed;
$warning-100: #ffedd5;
$warning-200: #fed7aa;
$warning-300: #fdba74;
$warning-400: #fb923c;
$warning-500: #f97316;
$warning-600: #ea580c;
$warning-700: #c2410c;
$warning-800: #9a3412;
$warning-900: #7c2d12;

$danger-25: #fffbfa;
$danger-50: #fef2f2;
$danger-100: #fee2e2;
$danger-200: #fecaca;
$danger-300: #fca5a5;
$danger-400: #f87171;
$danger-500: #ef4444;
$danger-600: #dc2626;
$danger-700: #b91c1c;
$danger-800: #991b1b;
$danger-900: #7f1d1d;
