$space-0: 0px;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 48px;
$space-12: 64px;
$space-13: 80px;
$space-14: 96px;
$space-15: 128px;
$space-16: 160px;
$space-17: 192px;
$space-18: 224px;
$space-19: 256px;
