@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

a {
  text-decoration: none;
  color: inherit;
}

a.link {
  color: #2970dd;
}
a.link:hover {
  text-decoration: underline;
}
